name: Arduino CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Arduino CLI
      uses: arduino/setup-arduino-cli@v2

    - name: List installed libraries
      run: arduino-cli lib list

    - name: Install SparkFun EEPROM library
      # This command installs the library located at the root of the repository.
      # It assumes 'library.properties' is correctly configured.
      run: arduino-cli lib install 'SparkFun External EEPROM Arduino Library' 'Adafruit SleepyDog Library'
      
# arduino-cli core install MightyCore:avr@2.2.2 --additional-urls https://mcudude.github.io/MightyCore/package_MCUdude_MightyCore_index.json
# arduino-cli core install MightyBrick:samd@1.0.0 --additional-urls https://lps29.github.io/MightyBrick/package_LowPowerSolutions_index.json
    - name: Install cores
      run: |
        arduino-cli core update-index
        arduino-cli core install arduino:avr
        arduino-cli core install adafruit:avr --additional-urls https://adafruit.github.io/arduino-board-index/package_adafruit_index.json
        arduino-cli core install arduino:samd
      # arduino-cli core install esp32:esp32
      

# examples/SlimLoRa-erase-session  # examples/SlimLoRa-simple-clv

    - name: Arduino Uno Production
      run: |
        arduino-cli compile --fqbn arduino:avr:uno --library . examples/simple/simple.ino
        arduino-cli compile --fqbn arduino:avr:uno --library . examples/SlimLoRa-simple-clv

    - name: Adafruit Feather 32u4
      run: |
        arduino-cli compile --fqbn adafruit:avr:feather32u4 --library . examples/SlimLoRa-feather32u4-battery-simple-otaa

    - name: Arduino Uno DEBUG_SLIM
      run: |
       arduino-cli compile --fqbn arduino:avr:uno --library . examples/SlimLoRa-eeprom__read_by_user_keyboard --build-property "compiler.cpp.extra_flags=\"-DDEBUG_SLIM=1\""

    # TODO: non atomic operations
    #- name: Compile examples for ESP32 Dev Module
    #  run: |
    #    arduino-cli compile --fqbn esp32:esp32:esp32 --library . examples/simple --build-property "compiler.cpp.extra_flags=\"-USLIMLORA_USE_PROGMEM -DARDUINO_EEPROM=2\""
        
    - name: Compile examples for Arduino Zero (SAMD)
      run: |
            arduino-cli compile --fqbn esp32:esp32:esp32 --library . examples/simple --build-property "compiler.cpp.extra_flags=\"-USLIMLORA_USE_PROGMEM -DARDUINO_EEPROM=2\""
